/*
CSS : Cascading Style Sheet ou feuille de style en cascade

Cascade : ce qui est déclaré dans une balise qui contient d'autre balises, est appliqué à la balise et par défaut à toutes les balises qu'elle contient.

Pour appliquer du style CSS à une partie de la page, il faut : 
- désigner la partie en utlisant un sélecteur CSS
- décrire la ou les propriétés CSS et leur configuration

selecteur{
    propriété: valeur(s);
    propriété: valeur(s);
}

Unités de tailles en CSS

Unités les plus souvent utilisées en web

px          =>  pixel (il est possible d'avoir des chiffres à virgule 23.5px; )
em          =>  cadratin. Historiquement unité de mesure en print sur les presses.
                Le cadratin se calcul par rapport à la taille du parent
rem         => cadratin racine, lui se calculera toujours depuis la taille racine du cadratin, 
                - soit celle du navigateur 
                - soit celle surchargée dans le :root
%           => la taille définie en % se calcul par rapport à l'espace disponible
vw & vh     =>  vw : viewport width (largeur de la surface d'affichage du site)
                vh : viewport height ( hauteur d'affichage du site)
                50vh => 50% de la taille d'affichage du site
                si la largeur d'affichage du site 360px (100vw)
                50vw = 180px

sélecteur CSS :
    ATTENTION : en CSS, on impacte tous les éléments correspondants aux sélecteurs écrits
    
    sélecteurs simples : balise, identifiant et par classe
        p                   => tous les éléments p rencontrés dans le document
                            pas de caractère spécial devant l'élément donc il s'agit d'une balise
        #special            => l'élément ayant comme attribut id="special"
                            le caractère # indique qu'on se réfère à l'id
                            #Les-balises-de-contenu-texte{}
                            => les id sont uniques dans la page
        .titreDeChapitre    => les éléments ayant au moins la class="titreDeChapitre" 
                            le caractère . indique qu'on se réfère à une classe
                            => ATTENTION : si un élément class="titreDeChapitre toto tata" comme il possède au moins
                            la classe titreDeChapitre alors il sera trouvé
    Sélecteur avancés : selon les attributs                                  
        [data-test]                     => les éléments ayant au moins un attribut nommé data-test
                                        <span data-test="tata"></span>
                                        <span data-test="toto"></span>
                                        => les deux sont impacté, on ne recherche que l'attribut
        [alt]                           => les éléments ayant au moins un attribut alt
        [data-test="toto"]              => les éléments ayant au moins un attribut nommé data-test="toto"
                                        <span data-test="tata"></span> => ça ne marche pas, la valeur de test est tata
                                        <span data-test="toto"></span> => ça fonctionne car la valeur de test et toto
                                        seul l'élément dont l'attribut data-test est égal à toto sera impacté
        [data-col][data-line]           => les éléments ayant au moins un attribut data-col ET un attribut data-line
        [data-col="3"][data-line]       => les éléments ayant au moins un attribut data-col="3" ET un attribut data-line
        [data-col][data-line="2"]       => les éléments ayant au moins un attribut data-col ET un attribut data-line="2"
        [data-col="3"][data-line="2"]   => les éléments ayant au moins un attribut data-col="3" ET un attribut data-line="2"

    Sélecteur avancés : mélange des sélecteurs simples et ou de sélecteurs avancés

        h3.titreDeChapitre  => tous les titre h3 ayant la classe titreDeChapitre
                            si l'élément et la classe sont collés, c'est que l'élément doit avoir au moins cette classe
        article #special    => un élément avec id="special" enfant direct OU indirect d'un élément article
                            si l'élément et l'id recherché sont séparés, cela indique une filiation directe ou indirecte
        article > p            => tous les éléments p enfants directs d'un élément article
                            le chevron fermant > entre les deux éléments indique une filiation directe.
        p#special           => un élément p avec id="special"
        .toto.tata          => un élément ayant au moins les deux classes suivantes toto et tata
        .toto .tata         => un élément ayant au moins la classe tata enfant direct ou indirect d'un élément ayant au moins la classe toto
    
    
    Pseudo sélecteurs (sélécteur qui permet des "tri" ou des "filtres" sur des sélecteurs )

        p:nth-of-type(odd)  => tous les paragraphes du document en position impaire
                            nth-child() le(s) nième(s) enfant(s)
                            les paramètres : 
                                odd => impaire - event => paire, Xn => tous les X enfants , Y => le Yème
                                Xn + Y, si X == 2 et Y == 1 ==> 2n+1

        article:last-child:nth-of-type(4n+3)    => l'article doit être le dernier article et le troisième article d'une ligne de 4
                                                paramètres :    4n => le nombre d'élément par ligne
                                                                +3 => le troisième de la ligne
*/

/* les imports de fichiers css dans un autre fichier css DOIVENT ABSOLUMENT ÊTRE FAIT AVANT les lignes du CSS */

@import url('./bootstrap-icons.css');

/* root : racine du CSS */

:root{
    --main-font: Arial, Helvetica, sans-serif;
    --main-link-color: darkgreen;
    font-size: 1.2rem;
    line-height: 1.7rem;
    --nav-border-color: #888888;
    --nav-link-color: white;
    --nav-bg-color: #333333;
    --nav-link-bg-hover: white;
    --nav-link-color-hover: black;
    --header-bg-color: var(--nav-bg-color);
    --header-color: var(--nav-link-color);
    --footer-bg-color: var(--nav-bg-color);
    --footer-color: var(--nav-link-color);
    --gutter-x: 0.5rem;
    --gutter-y: 0.5rem;
    scroll-behavior: smooth;
}

/* déclarations générales */
/*

* signifie "n'importe quelle suite de caractère"

*/

*{
    box-sizing: border-box;
}

h1{
    font-size: calc( 2rem + 1vw );
    line-height: calc( 2rem + 3vw);
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

a, a:visited{
    color: var(--main-link-color);
    text-decoration: none;
    font-weight: bold;
}

/* css adapatatif de base pour les images */

img{
    max-width: 100%;
}

/* déclaration des classes */
.content-box{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    box-sizing: content-box;
    width: 200px;
}

.border-box{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    width: 200px;
}

.deuxEm{
    font-size: 2em;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}

.deuxRem{
    font-size: 2rem;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}

.top{
    width: 50px;
    height: 50px;
    font-size: 0.8rem;
    line-height: 1.2rem;
    background-color: rgba(51, 51, 51, 0.75);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    border: 3px solid var(--nav-link-color);
    
}

.top a, .top a:visited{
    color: var(--nav-link-color);
    display: block;
    width: 100%;
    text-align: center;
}

.exemple-position{
    width: 300px;
    height: 300px;
    border: 3px solid black;
    margin: 1rem auto;
    position: relative;
}

.carre-rouge, .carre-vert{
    width: 50px;
    height: 50px;
}

.carre-rouge{
    background-color: rgba(139, 0, 0, 1);
    position: absolute;
    top : 10px;
    left: 20px;
    z-index: 10;
}

.carre-vert{
    background-color: rgba(0, 100, 0, 1);
    position: absolute;
}

/* déclarations selon la structure */

body{
    margin: 0;
    font-family: var(--main-font);
}

/* 
regrouper les déclarations similaire, c'est appliquer le D.R.Y. 
Don't Repeat Yourself
*/

body > header,
body > footer{
    background-color: var(--header-bg-color);
    color: var(--header-color);
}

/* css navigation par défaut : smartphone */

body > header > div,
body > nav > div,
body > main,
body > footer > div{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

body > nav{
    background-color: var(--nav-bg-color);
}

body > nav ul,
body > footer nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    line-height: 2rem;
}

body > nav ul li,
body > footer nav ul li{
    border-bottom: 1px solid var(--nav-border-color);
}

body > nav ul li:first-child{
    border-top: 1px solid var(--nav-border-color);
}

body > nav ul li a, 
body > nav ul li a:visited,
body > footer nav ul li a,
body > footer nav ul li a:visited{
    display: block;
    color: var(--nav-link-color);
    background-color: var(--nav-bg-color);
    padding-left: 1rem;
    padding-right: 1rem;
}

body > nav ul li a:hover,
body > nav ul li a:focus,
body > footer nav ul li a:hover,
body > footer nav ul li a:focus{
    color: var(--nav-link-color-hover);
    background-color: var(--nav-link-bg-hover);
}



/* déclaration media queries */
@media (min-width: 576px){
    body > header > div,
    body > nav > div,
    body > main,
    body > footer > div{
        width: 540px;
    }
}

@media (min-width: 768px){
    body > header > div,
    body > nav > div,
    body > main,
    body > footer > div{
        width: 720px;
    }

    /* changement d'apparence du footer */
    body > footer > div{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    body > footer > div > *{
        width: 100%;
    }

    body > footer > div nav{
        width: calc( 50% - 0.4rem);
    }

}

@media (min-width: 992px){
    body > header > div,
    body > nav > div,
    body > main,
    body > footer > div{
        width: 960px;
    }

    /* transformation de la navigation */
    body > nav ul{
        display: flex;
        flex-wrap: wrap;
    }

    body > nav ul li{
        border-bottom: unset;
        border-left: 1px solid var(--nav-border-color);
    }

    body > nav ul li:first-child{
        border-top: unset;
    }

    main > section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    main > section > *{
        width: 100%;
    }

    main article{
        width: calc( 50% - ( 2 * var(--gutter-x) ) );
    }

    section > article:first-of-type:last-of-type{
        width: calc( 100% - ( 2 * var(--gutter-x) ) );
    }

}

@media (min-width: 1200px){
    body > header > div,
    body > nav > div,
    body > main,
    body > footer > div{
        width: 1140px;
    }
}

@media (min-width: 1400px){
    body > header > div,
    body > nav > div,
    body > main,
    body > footer > div{
        width: 1320px;
    }
}