/*
CSS : Cascading Style Sheet ou feuille de style en cascade

Cascade : ce qui est déclaré dans une balise qui contient d'autre balises, est appliqué à la balise et par défaut à toutes les balises qu'elle contient.

Pour appliquer du style CSS à une partie de la page, il faut : 
- désigner la partie en utlisant un sélecteur CSS
- décrire la ou les propriétés CSS et leur configuration

selecteur{
    propriété: valeur(s);
    propriété: valeur(s);
}

Unités de tailles en CSS

Unités les plus souvent utilisées en web

px          =>  pixel (il est possible d'avoir des chiffres à virgule 23.5px; )
em          =>  cadratin. Historiquement unité de mesure en print sur les presses.
                Le cadratin se calcul par rapport à la taille du parent
rem         => cadratin racine, lui se calculera toujours depuis la taille racine du cadratin, 
                - soit celle du navigateur 
                - soit celle surchargée dans le :root
%           => la taille définie en % se calcul par rapport à l'espace disponible
vw & vh     =>  vw : viewport width (largeur de la surface d'affichage du site)
                vh : viewport height ( hauteur d'affichage du site)
                50vh => 50% de la taille d'affichage du site
                si la largeur d'affichage du site 360px (100vw)
                50vw = 180px
*/

/* root : racine du CSS */

:root{
    --main-font: Arial, Helvetica, sans-serif;
    --main-link-color: darkgreen;
    font-size: 1.2rem;
    line-height: 1.7rem;
    --nav-border-color: #888888;
    --nav-link-color: white;
    --nav-bg-color: #333333;
    --nav-link-bg-hover: white;
    --nav-link-color-hover: black;
    --header-bg-color: var(--nav-bg-color);
    --header-color: var(--nav-link-color);
    --footer-bg-color: var(--nav-bg-color);
    --footer-color: var(--nav-link-color);
}

/* déclarations générales */
/*

* signifie "n'importe quelle suite de caractère"

*/

*{
    box-sizing: border-box;
}

h1{
    font-size: calc( 2rem + 1vw );
    line-height: calc( 2rem + 3vw);
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

a, a:visited{
    color: var(--main-link-color);
    text-decoration: none;
    font-weight: bold;
}

/* déclaration des classes */
.content-box{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    box-sizing: content-box;
    width: 200px;
}

.border-box{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    width: 200px;
}

.deuxEm{
    font-size: 2em;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}

.deuxRem{
    font-size: 2rem;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}

.top{
    width: 50px;
    height: 50px;
    font-size: 0.8rem;
    line-height: 1.2rem;
    background-color: rgba(51, 51, 51, 0.75);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    border: 3px solid var(--nav-link-color);
    
}

.top a, .top a:visited{
    color: var(--nav-link-color);
    display: block;
    width: 100%;
    text-align: center;
}

.exemple-position{
    width: 300px;
    height: 300px;
    border: 3px solid black;
    margin: 1rem auto;
    position: relative;
}

.carre-rouge, .carre-vert{
    width: 50px;
    height: 50px;
}

.carre-rouge{
    background-color: rgba(139, 0, 0, 1);
    position: absolute;
    top : 10px;
    left: 20px;
    z-index: 10;
}

.carre-vert{
    background-color: rgba(0, 100, 0, 1);
    position: absolute;
}

/* déclarations selon la structure */

body{
    margin: 0;
    font-family: var(--main-font);
}

/* 
regrouper les déclarations similaire, c'est appliquer le D.R.Y. 
Don't Repeat Yourself
*/

body > header,
body > footer{
    background-color: var(--header-bg-color);
    color: var(--header-color);
}

/* css navigation par défaut : smartphone */

body > header > div,
body > nav > div,
body > main,
body > footer > div{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

body > nav{
    background-color: var(--nav-bg-color);
}

body > nav ul,
body > footer nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    line-height: 2rem;
}

body > nav ul li,
body > footer nav ul li{
    border-bottom: 1px solid var(--nav-border-color);
}

body > nav ul li:first-child{
    border-top: 1px solid var(--nav-border-color);
}

body > nav ul li a, 
body > nav ul li a:visited,
body > footer nav ul li a,
body > footer nav ul li a:visited{
    display: block;
    color: var(--nav-link-color);
    background-color: var(--nav-bg-color);
    padding-left: 1rem;
    padding-right: 1rem;
}

body > nav ul li a:hover,
body > nav ul li a:focus,
body > footer nav ul li a:hover,
body > footer nav ul li a:focus{
    color: var(--nav-link-color-hover);
    background-color: var(--nav-link-bg-hover);
}



/* déclaration media queries */
@media (min-width: 576px){
    body > header > div,
    body > nav > div,
    body > main,
    body > footer > div{
        width: 540px;
    }
}

@media (min-width: 768px){
    body > header > div,
    body > nav > div,
    body > main,
    body > footer > div{
        width: 720px;
    }

    /* changement d'apparence du footer */
    body > footer > div{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    body > footer > div > *{
        width: 100%;
    }

    body > footer > div nav{
        width: calc( 50% - 0.4rem);
    }

}

@media (min-width: 992px){
    body > header > div,
    body > nav > div,
    body > main,
    body > footer > div{
        width: 960px;
    }

    /* transformation de la navigation */
    body > nav ul{
        display: flex;
        flex-wrap: wrap;
    }

    body > nav ul li{
        border-bottom: unset;
        border-left: 1px solid var(--nav-border-color);
    }

    body > nav ul li:first-child{
        border-top: unset;
    }

}

@media (min-width: 1200px){
    body > header > div,
    body > nav > div,
    body > main,
    body > footer > div{
        width: 1140px;
    }
}

@media (min-width: 1400px){
    body > header > div,
    body > nav > div,
    body > main,
    body > footer > div{
        width: 1320px;
    }
}